@import "tailwindcss";

@theme {
  /* Aqui definimos as cores da Almeida MM para a versão 4 do Tailwind */
  --color-almeida-preto: #000000;
  --color-almeida-vermelho: #ED1C24;
  --color-almeida-branco: #FFFFFF;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}